<?xml version="1.0"?>
<configuration>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
            <!-- Publisher policy can be set only in the app configuration file. -->
            <publisherPolicy apply="yes"/>
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
            <!-- Publisher policy can be set only in the app configuration file. -->
            <publisherPolicy apply="yes"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
